<img src="/assets/svg/logo-small.svg" alt="" class="ml-16 mb-20" />

<nav>
  <ul class="main-menu-list">
    @for (menuItem of menuItems; track menuItem.icon) {
      <li>
        <a class="menu-item" [routerLink]="[menuItem.link]" routerLinkActive="active">
          <svg [icon]="menuItem.icon"></svg>
          <span>{{ menuItem.label }}</span>
        </a>
      </li>
    }
  </ul>
</nav>

<p class="medium-text mb-20">Подписчики</p>

@for (subscriber of subscribers$ | async; track subscriber.id) {
  <app-subscriber-card [profile]="subscriber"></app-subscriber-card>
}

<div class="mt-20 to-subscribers">
  <a [routerLink]="['/subscribers']" class="to-subscribers-link medium-text">Все подписчики</a>
  <svg icon="arrow" class="to-subscriber-icon"></svg>
</div>

<footer class="sidebar__footer">
  @if (me(); as me) {
    @if (me.avatarUrl) {
      <img [src]="me.avatarUrl | imageUrl" />
    } @else {
      <img src="/assets/img/avatar-placeholder.png" />
    }
  }
  <div class="medium-text username-text">{{ me()?.username }}</div>
  <a [routerLink]="['settings']" class="settings-btn">
    <svg icon="settings"></svg>
  </a>
</footer>
